{% extends 'SyliusAdminBundle:Crud:index.html.twig' %}

{% block content %}
    {{ sonata_block_render_event(event_prefix ~ '.before_header', {'resources': resources}) }}

    <div class="ui two column stackable grid">
        <div class="column">
            <h1 class="ui header">
                <i class="circular archive icon"></i>
                <div class="content">
                    {{ 'app.ui.batches'|trans }}
                    <div class="sub header">{{ 'app.batch.subheader'|trans }}</div>
                </div>
            </h1>
            <div class="ui breadcrumb">
                <a href="{{ path('sylius_admin_dashboard') }}" class="section">{{ 'sylius.ui.administration'|trans }}</a>
                <div class="divider"> / </div>
                <div class="active section">{{ 'app.batchList.title'|trans }}</div>
            </div>
        </div>
    </div>

    {{ sonata_block_render_event(event_prefix ~ '.after_header', {'resources': resources}) }}

    {% include '@SyliusAdmin/Crud/Index/_content.html.twig' %}

    {{ sonata_block_render_event(event_prefix ~ '.after_content', {'resources': resources}) }}
{% endblock %}